* {
  margin: 0;
  padding: 0;
}

.UIdesign {
  height: 100vh;
  width: 100%;
  background: white;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.responseBox {
  width: 80%;
  height: 300px;
  overflow: auto;
  margin-bottom: 15px;
}
.text {
  background: rgb(242, 240, 240);
  border: none;
  height: 250px;
  width: 100;
  color: black;
  font-size: 1rem;
  font-weight: 800;
  box-shadow: rgba(26, 26, 40, 0.25) 0px 13px 27px -5px,
    rgba(6, 6, 6, 0.3) 0px 8px 16px -8px;
  padding: 10px;
  /* margin-bottom: 80px; */
}
.trans_para {
  color: rgb(0, 0, 0);
  height: max-content;
  max-width: 400px;
  font-size: 1rem;
  background-color: rgb(206, 205, 205);
  padding: 10px 4px;
  border-radius: 15px;
}
.imageContainer {
  height: min-content;
  width: min-content;
  margin-right: 10px;
}
.imgUser {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.alignment {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 10px 0px 10px 0px;
}
.display_para {
  background: rgb(45, 46, 53);
  height: max-content;
  max-width: 400px;
  color: rgb(255, 255, 255);
  border-bottom: 1px solid black;
  padding: 10px 4px;
  border-radius: 15px;
}
.text::-webkit-scrollbar {
  display: none;
}
/* // input */
.embed-submit-field {
  position: relative;
  color: white;
}

.embed-submit-field input {
  width: 400px;
  padding: 15px;
  border: none;
  outline: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  color: black;
  background-color: white;
  font-weight: 700;
  background: transparent;
  border-radius: 8px;
  margin-bottom: 10px;
}

.embed-submit-field button {
  position: absolute;
  right: 10px;
  top: 7px;
  border: 2px solid black;
  border: none;
  background: white;
  border-radius: 3px;
  padding: 10px;

  transition: all 0.2s;
}

.embed-submit-field button:hover {
  background-color: black;
  color: #fff;
  cursor: pointer;
}
.button {
  height: 35px;
  width: 150px;
  background: black;
  color: white;
  border-radius: 14px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* for loader  */
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid rgb(133, 133, 133);
  border-bottom: 16px solid rgb(119, 119, 119);
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 600px) {
  .embed-submit-field input {
    width: 300px;
  }
}
.stop_button {
  height: 24px;
  width: 24px;
  background-color: red;
  border-radius: 50%;
  font-size: 24px;
  margin-left: 5px;
  margin-top: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}
.listening-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.stop_button_span {
  height: 10px;
  width: 10px;
  /* border-radius: 50%; */
  background-color: black;
}
.voice_button_container {
  width: 80%;
  display: flex;
  justify-content: flex-end;
}

/* logIn page */
.loginPage {
  background-color: #fff;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loginPage button {
  height: 50px;
  width: 150px;
  background: black;
  color: white;
  border-radius: 14px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.logOutButton {
  height: 30px;
  width: 80px;
  background: black;
  color: white;
  border-radius: 14px;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
